node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.ssh
.DS_Store
.eslintrc.js
orders.d.ts
# k8s yamls
secrets.yaml
deployment.yaml
.env-template
environment.sh
build.sh
deploy.sh
